/* header and nav layout */
header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / 50px 1fr 50px;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: var(--background-color);
  width: 100vw;
  height: var(--nav-height);
  box-sizing: border-box;
  font-family: var(--body-font-family);
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'hamburger brand tools' 'sections sections sections' 'investors investors investors';
  grid-template-columns:  50px 1fr 50px;
  grid-template-rows: var(--nav-height) max-content max-content;
  overflow-y: scroll;
  min-height: 100vh;
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
  display: flex;
  justify-content: center;
}

header nav .nav-brand p {
  margin: 0;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  cursor: pointer;
  padding-left: 15px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
}

header nav .nav-investors {
  grid-area: investors;
}

header nav .nav-sections, header nav .nav-investors {
  flex-direction: column;
  display: none;
  flex: 1 1 auto;
}

header nav .nav-sections ul, header nav .nav-investors ul  {
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav .nav-sections ul li > ul {
  display: none;
}

header nav .nav-sections li, header nav .nav-investors li {
  color: var(--yxt-color-sections-link);
  font-size: 20px;
  font-weight: 400;
  border-top: 2px solid var(--yxt-color-borders);
  padding: 0.8rem;
}

header nav .nav-investors li {
  color: var(--yxt-color-investors-link);
  font-family: "Cormorant Garamond","Times New Roman",Georgia,serif;
}

header nav .nav-sections li:last-child, header nav .nav-investors li:last-child {
  border-bottom: 2px solid var(--yxt-color-borders);
}

header nav[aria-expanded='true'] .nav-sections, header nav[aria-expanded='true'] .nav-investors {
  display: block;
  align-self: flex-start;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  height: 22px;
  display: flex;
  justify-content: flex-end;
}

header nav .nav-tools p {
  margin: 0;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}

/* desktop nav styles */
@media (min-width: 1000px) {
  header nav {
    position: unset;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template:
    'brand tools' 2fr
    'sections investors' 1fr / 1.3fr 1fr;
    height: var(--nav-height);
  }

  header nav * {
    box-sizing: border-box;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
    padding-right: 32px;
  }

  header nav .nav-drop::after {
    content: ' ';
    border: solid var(--text-color);
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-sections li, header nav .nav-investors li {
    border-top: none;
  }

  header nav .nav-sections > ul > li, header nav .nav-investors > ul > li {
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    padding: 0 4px;
  }

  header nav .nav-sections, header nav .nav-investors {
    height: calc(var(--nav-height) / 3);
    display: flex;
    justify-content: center;
    border-top: var(--yxt-border-default);
  }

  header nav .nav-investors ul li {
    border-left: var(--yxt-border-default);
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  header nav .nav-sections > ul > li > ul > li {
    font-size: 18px;
    padding: 8px 16px;
  }

  header nav .nav-sections li:last-child, header nav .nav-investors li:last-child {
    border-bottom: none;
  }

  header nav .nav-investors ul li:last-child {
    border-right: var(--yxt-border-default);
  }

  header nav .nav-brand, header nav .nav-tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(var(--nav-height) / 2);
  }

  header nav .nav-tools {
    justify-content: flex-end;
  }

  header nav .nav-sections ul, header nav .nav-investors ul {
    display: flex;
    flex-direction: row;
    background-color: unset;
    width: unset;
    margin: 0;
  }

  header nav .nav-investors ul {
    height: 100%;
  }

  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-investors > ul {
    justify-content: flex-end;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  header nav .nav-sections > ul > li > ul {
    margin-top: 20px;
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--body-font-size-m);
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--highlight-background-color);
    top: -15px;
    left: 20px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] ul {
    display: block;
    position: absolute;
    background-color: var(--highlight-background-color);
    width: 300px;
    left: 0;
    padding: 16px;
    box-shadow: 0 0 5px var(--text-color);
  }
}
