.featured-articles>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 16px;
}

.featured-articles-card-body-title a {
    color: #000;
}

.featured-articles-card-body-title a:hover {
    text-decoration: none;
    color: #00b0af;
    border-bottom: 2px dotted;
}

.featured-articles .featured-articles-card-body {
    margin: 16px;
}

/* stylelint-disable */
.featured-articles-row-1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
    min-height: 320px;
}
/* stylelint-enable */

.featured-articles-row-2 {
    grid-gap: 16px;
}

.featured-articles-card-body-date {
    font-size: 12pt;
}

.featured-articles .featured-articles-card-body>*:first-child {
    margin-top: 0;
}

.featured-articles-2nd-row {
    padding-top: 25px;
}

.featured-articles-1st-row {
    display: block;
}

.featured-articles-1st-row>li {
    display: block;
    width: 100%;
}

.featured-articles>ul>li {
    background-color: var(--background-color);
    border: 1px solid #e8e8e8;
    border-top: 4px solid #41a3a5;
    box-shadow: -5px 5px 15px #e5e5e5;
}

.featured-articles>ul>li:hover {
    box-shadow: -10px 10px 15px #e5e5e5;
}


.featured-articles-row-1 .featured-articles-card-body-title::after{
    content: ' >';
}

.featured-articles-row-1 .featured-articles-card-body-date{
visibility: hidden;
}

.featured-articles-row-1 .featured-articles-card-image {
    width: 320px;
    padding: 25px;
    float: right;
}


.featured-articles-row-2 .featured-articles-card-image {
    position: relative;
    top: 0;
}

.featured-articles-row-2 .featured-articles-card-image>picture>img {
    width: 100%;
    max-height: 128px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}