footer {
  font-size: 0.95rem;
  background-color: var(--middle-footer-background);
  font-family: var(--sans-font-family);
}

footer .top-footer {
  background-color: var(--top-footer-background);
  padding: 20px;
}

footer .top-footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

footer .top-footer ul li > a {
  color: var(--text-color);
}

footer .top-footer ul li img {
  height: 24px;
  width: auto;
}

footer .bottom-footer {
  background-color: var(--bottom-footer-background);
  color: #d7d7d7;
  padding: 8px;
  font-size: 0.82rem;
  text-align: center;
}

footer .main-footer {
  background-color: var(--middle-footer-background);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

footer .main-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

footer .main-footer ul li > a {
  color: rgb(79 79 79);
}

footer .main-footer ul li > a:hover {
  color: var(--yxt-color-brand-hover);
  text-decoration-style: dotted;
}

footer .main-footer p {
  font-weight: 600;
  color: rgb(79 79 79);
  text-transform: uppercase;
}

footer .lang-selector {
  display: flex;
  align-items: center;
}

footer .lang-selector > span {
  padding: 10px;
}

footer .lang-selector .icon {
  display: flex;
}

footer .lang-selector > span:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

@media (min-width: 1200px) {
  footer .main-footer {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-auto-columns: minmax(0, 180px);
    grid-template-columns: max-content;
    column-gap: 20px;
    grid-auto-flow: column;
    text-align: start;
    padding-bottom: 50px;
  }

  footer .bottom-footer p {
    max-width: 1200px;
    text-align: right;
    margin: 0 auto;
    padding: 5px;
  }

  footer .main-footer p:first-child {
    grid-row: 1 / span 2;
  }

  footer .top-footer ul {
    justify-content: space-between;
  }

  footer .bottom-footer {
    overflow: hidden;
  }
}

