/* below the fold CSS goes here */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond-Bold.ttf") format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond-SemiBold.ttf") format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond-Medium.ttf") format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond-Light.ttf") format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/CormorantGaramond-Italic.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Light.ttf") format('truetype');
  font-weight: 300;
  font-display: swap;
}
